---
import HeaderCards from "../../components/UI/HeaderCards.astro"
import Layout from "../../layouts/Layout.astro"

---

<Layout title="Planchas">
    <HeaderCards text1="Lista de" text2="Planchas" />

    <section class="w-[80dvw] mx-auto max-w-2xl">
        <h2 data-aos="fade-up" data-aos-delay="50" class="text-center text-xl font-medium text-neutral-800 dark:text-neutral-200 uppercase">En construcción</h2>
    </section>
</Layout>