---
import Layout from "../../layouts/Layout.astro"

// props
const { docente } = Astro.params;
---

<Layout title="Docente">
    <p>{ docente }</p>
    <ul>
        <li><a href="/parciales/parcial-1">parcial 1</a></li>
        <li><a href="/parciales/parcial-2">parcial 2</a></li>
    </ul>
</Layout>