---
import Layout from "@/layouts/Layout.astro";
import { materias } from "@/consts/db" 
import HeaderCards from "@/components/UI/HeaderCards.astro";
import CardMateria from "@/components/UI/cards/CardMateria.astro";
// props
const { year } = Astro.params;
const materiasByYear = materias.filter((materia) => materia.year.toString() === year);

const reWrite = {
    1: "primer",
    2: "segundo",
    3: "tercer",
    4: "cuarto",
    5: "quinto"
}
---

<Layout title={`${year} año`}>
    <section class="w-[80dvw] mx-auto max-w-2xl">
        <HeaderCards text1="Materias de" text2={`${reWrite[year]} año`} />
        <a href="/" data-aos="fade-down" class="text-primary underline inline-block">Volver a inicio</a>
        <ul class="space-y-4 pt-5 pb-10">
            {materiasByYear.map((materia) => <CardMateria materia={materia} />)}
        </ul>
    </section>
</Layout>
