---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Planchas">
    <section class="w-[80dvw] mx-auto max-w-2xl">
        <h2 data-aos="fade-up" data-aos-delay="50" class="text-center text-3xl mt-10 font-medium text-neutral-800 dark:text-neutral-200 uppercase">Ups... Parece que te perdiste</h2>
        <a href="/" class="text-primary text-center underline">Volver al inicio</a>
    </section>
</Layout>