---
---

<button data-aos="fade-down" id="back" class="text-primary underline">Volver</button>
<script is:inline>
    const back = document.getElementById("back");
    back.addEventListener("click", () => {
        window.history.back();
    });
</script>