---
---

<style>
  .typing-effect {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: blink-caret 0.7s step-end infinite;
  }

  @keyframes blink-caret {
    50% { border-color: transparent; }
  }
</style>

<div class="py-4 text-xl font-semibold text-neutral-600 dark:text-neutral-300">
  <span id="typing-text" class="typing-effect"></span>
</div>

<script>
  const phrases = ["LIDERAZGO", "PASIÓN", "PERSEVERANCIA", "RESILIENCIA", "HUMILDAD", "INTEGRIDAD", "COMPROMISO", "DISCIPLINA"];
  let phraseIndex = 0;
  let charIndex = 0;
  const typingSpeed = 100;
  const delayBetweenPhrases = 1000; 

  function type() {
    const typingTextElement = document.getElementById("typing-text");
    const currentPhrase = phrases[phraseIndex];

    if (charIndex <= currentPhrase.length) {
      typingTextElement.textContent = currentPhrase.substring(0, charIndex);
      charIndex++;
      setTimeout(type, typingSpeed);
    } else {
      setTimeout(erase, delayBetweenPhrases);
    }
  }

  function erase() {
    const typingTextElement = document.getElementById("typing-text");

    if (charIndex > 0) {
      typingTextElement.textContent = typingTextElement.textContent.slice(0, -1);
      charIndex--;
      setTimeout(erase, typingSpeed / 2);
    } else {
      phraseIndex = (phraseIndex + 1) % phrases.length;
      setTimeout(type, typingSpeed);
    }
  }


    setTimeout(type, delayBetweenPhrases);

</script>
