---
import { Image } from "astro:assets"
import EffectWrite from "../components/EffectWrite.astro"
import megaloblastosPng from "../assets/megaloblastos.png"
import menu from "../consts/menu"
import BtnTheme from "../components/BtnTheme.vue"
---
<section class="flex items-center justify-center pt-20 pb-10 px-4">
    <div class="flex flex-wrap items-center justify-center gap-4 md:gap-10">
    <nav class="flex gap-2 flex-col text-primary">
        <BtnTheme data-aos="fade-down" data-aos-delay="50" client:load />
        {menu.contactanos.map((contacto, index) => <a data-aos="fade-down" data-aos-delay={(index + 1) * 50} href={contacto.href} target="_blank" class={contacto.icon}></i></a>)}
    </nav>
     <Image
        data-aos="fade-down"
        data-aos-delay="150"
        class="w-60 sm:w-64 h-60 sm:h-64 object-cover md:order-2"
        src={megaloblastosPng}
        alt="Icono megaloblastos"
        width={300}
        height={300}
     />
    <article>
        <h1 data-aos="fade-down" data-aos-delay="50" class="text-3xl font-bold text-neutral-800 dark:text-neutral-50">MEDICINA</h1>
        <h2 data-aos="fade-down" data-aos-delay="100" class="text-3xl font-bold text-primary">F.C.S.H.</h2>
        <EffectWrite />
        <p data-aos="fade-up"
        data-aos-delay="50" class="max-w-xs text-neutral-500 dark:text-neutral-400">La medicina es una ciencia de incertidumbre y un arte de probabilidad.</p>
        <p data-aos="fade-up"
        data-aos-delay="100" class="text-neutral-600 dark:text-neutral-300 font-bold mt-1">- William Osler</p>
    </article>
   </div>
</section>
