---
---

<section class="pt-2 flex gap-2 flex-wrap">
    <a href="https://wa.link/3rgww3" target="_blank" rel="noopener noreferrer" class="py-1 px-5 text-neutral-50 bg-orange-500 rounded-md font-medium inline-block text-nowrap hover:bg-orange-600">
        <i class="ri-whatsapp-line"></i> Roy Nicolas
    </a>
    </a>
    <a href="https://wa.link/jbgt9a" target="_blank" rel="noopener noreferrer" class="py-1 px-5 text-neutral-50 bg-orange-500 rounded-md font-medium inline-block text-nowrap hover:bg-orange-600">
        <i class="ri-whatsapp-line"></i> Blas Merida
    </a>
</section>