<!-- ---
---

<div class="w-screen h-screen bg-white absolute top-0 left-0 z-50 transition-all grid place-items-center animation-load-logo">
    <img src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t39.30808-6/274713333_4919205438148320_4254676912870342149_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=M3e0X_CJ_GoQ7kNvgErTxN5&_nc_ht=scontent.fsrz1-2.fna&oh=00_AYCXtE2QVJ6tlwIQnNU44esHBSc551pN5eUTTOuMgXw9tA&oe=66E99EFE" class="max-w-80 animate-bounce" alt="facultad de medicina uagrm">
</div>

<style>
    .animation-load-logo {
        animation: animation-load 1s ease-in-out both;
    }

    @keyframes animation-load {
        0% {
            top: 0;
        }

        50% {
            top: 0;
        }
        100% {
            top: -100dvh;
        }
    }
</style> -->