---
---

<nav class="absolute bottom-0 left-0 z-10 bg-white shadow-md w-full">
    <ul class="flex justify-center gap-4 p-4">
        <li><a href="https://github.com/AlanVillalobos/megaloblastos" target="_blank" class="text-primary hover:underline"><i class="ri-github-fill"></i></a></li>
    </ul>
</nav>